<div class="question">
  <div class="question-content">
    <% unless question.author.nil? %>
      <h4>
        Вопрос от пользователя <%= link_to "@" + question.author, user_path(User.find_by(username: question.author)) %>
      </h4>
    <% else %>
      <h4>
        Вопрос от анонимного пользователя
      </h4>
    <% end %>
    <div class="question-text text-lead">
      <%= question.text %>
    </div>
`
    <% if question.answer.present? %>
      <div class="question-answer text-lead">

        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>
    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question), method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>

