<div style="background: <%= @user.color_block %> " class="user-header text-center">
  <h1 class="title-medium">
    <%= @user.name %>
  </h1>

  <div class="user-image-div">
    <%= image_tag @user.avatar_url, class: 'user-image', alt: '[Фото]' %>
  </div>

  <h2 class="title-small buffer-both">
    <%= @user.username %>
  </h2>

  <div class="buffer-both">
    <%= link_to 'Редактировать профиль', edit_user_path(@user) if current_user == @user%>
  </div>

  <div class="biffer-both">
    <%= link_to "Удалить свой аккаунт", user_path(@user) , method: :delete, data: {confirm: 'Точно желаете удалить свой аккаунт?'} if current_user == @user %>
  </div>
</div>

<div class="user-question-form-div column-1-4 column-1-4-right" id='ask-form'>
  <div class="user-question-form buffer-both">
    <div class="form">
      <%= form_for @new_question do |f| %>
        <%= f.hidden_field :user_id %>
        <% if current_user.present? %>
          <%= f.hidden_field :author, :value => current_user.username %>
          <%= f.hidden_field :author_link, :value => user_path(current_user) %>
        <% end %>
        <div class="form-field">
          <%= f.label "Ваш вопрос для #{@user.username}", class: 'form-label' %>
          <%= f.text_area :text, class: 'form-textarea' %>
        </div>

        <div class="form-action">
          <%= submit_tag 'Спросить', class: 'button button-small button-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="column-3-4">
  <div class="user-questions buffer-both">
    <h3 class="user-questions-length">
      <%= @questions.length %> <%= get_word_form(@questions.length, 'вопрос', 'вопроса', 'вопросов') %>
    </h3>
    <h3 class="user-unanswered-questions"> 
      <%= @unanswered_count %> <%= get_word_form(@unanswered_count, 'неотвеченный вопрос', 'неотвеченных вопроса', 'неотвеченных вопросов') %>
    </h3>
    <h3 class="user-answered-questions">
      <%= @answers_count %> <%= get_word_form(@answers_count, 'отвеченный вопрос', 'отвеченных вопроса', 'отвеченных вопросов') %>
    </h3>
    <div class="questions-list">
      <% @questions.each do |question| %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>
